/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*Begin Custom */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
}

.header {
  color: white !important;
}

a {
  color: white;
}

a:hover {
  color: fuchsia;
}

.btn:hover,
.btn-larger:hover,
#download-button:hover {
  background-color: whitesmoke !important;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}

input#mce-EMAIL {
  margin: 0 !important;
  width: 60%;
}

/* .connect {
  display: flex;
  justify-content: space-between;
} */

.find-us {
  color: whitesmoke !important;
  text-decoration: underline;
}

.find-us:hover {
  color: white !important;
}

.jared {
  color: whitesmoke !important;
}

.jared:hover {
  color: white !important;
}
